{% assign media_layout = section.settings.media_layout %}

{% assign has_content = false %}
{% assign has_cta = false %}

{%- if section.settings.title != blank or section.settings.text != blank -%}
  {% assign has_content = true %}
{%- endif -%}

{%- if section.settings.button_text != blank and section.settings.button_link != blank -%}
  {% assign has_cta = true %}
  {% assign has_content = true %}
{%- endif -%}

{% if media_layout == 'image-highlight' %}
  {%- capture feature_image -%}
    {% if section.settings.image %}
      <img
        class="home-full-width-media"
        src="{{ section.settings.image | img_url: '2048x2048' }}"
        alt="{{ section.settings.image.alt | escape }}">
    {% else %}
      {{ 'lifestyle-1' | placeholder_svg_tag: 'home-full-width-media placeholder-svg' }}
    {% endif %}
  {%- endcapture -%}
{% endif %}

{%- capture section_class -%}
  style-{{ section.settings.style }}
  module-wrapper
  text-aligned-{{ section.settings.alignment }}
{%- endcapture -%}

{%- capture content_class -%}
  module
  full-text-story

  {% if section.settings.height != 'default' %}
    tall
  {% endif %}

  {% if section.settings.media_layout != 'none' %}
    has-media
  {% endif %}

  {% if section.settings.media_layout == 'image-highlight' %}
    {% if has_content %}
      has-content
    {% else %}
      no-content
    {% endif %}
  {% endif %}
{%- endcapture -%}

<div
  class="{{ section_class | strip_newlines }}"
  data-section-id="{{ section.id }}"
  data-section-type="full-width-feature"
  {% if section.settings.image != blank %}
    style="background:url('{{ section.settings.image | img_url: '1440x800' }}') no-repeat center center; background-size: cover;"
  {% endif %}>

  <div class="{{ content_class | strip_newlines }}">
    {% if section.settings.media_layout == 'none' or section.settings.media_layout == 'image-highlight' %}
      {% if section.settings.title != blank %}
        <div class="module-header home-full-width-header">
          <h2 class="module-title home-full-width-module-title">
            {{ section.settings.title | escape }}
          </h2>
        </div>
      {% endif %}

      {% if section.settings.text != blank or has_cta %}
        <div class="module-body home-full-width-body">
          {% if section.settings.text != blank %}
            <div class="module-content home-full-width-content home-full-width-body-item">
              {{ section.settings.text }}
            </div>
          {% endif %}

          {% if has_cta %}
            <div class="module-cta home-full-width-cta home-full-width-body-item">
              <a class="button {{ section.settings.button_style }}" href="{{ section.settings.button_link }}">
                {{ section.settings.button_text | escape }}
              </a>
            </div>
          {% endif %}
        </div>
      {% endif %}

    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Full text story",
  "settings": [
    {
      "type": "paragraph",
      "content": "This section is designed to showcase your product philosophy. Display a Full width feature, either as an image or a video. Expand on the feature with a title, text, and a call to action button."
    },
    {
      "type": "select",
      "id": "style",
      "label": "Background style",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "light",
          "label": "Light"
        },
        {
          "value": "color",
          "label": "Color"
        },
        {
          "value": "gradient",
          "label": "Gradient"
        },
        {
          "value": "secondary-color",
          "label": "Secondary Color"
        },
        {
          "value": "third-color",
          "label": "Third Color"
        },
        {
          "value": "fourth-color",
          "label": "Fourth Color"
        },
        {
          "value": "fifth-color",
          "label": "Fifth Color"
        }
      ],
      "default": "default"
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "Text alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "height",
      "label": "Section Height",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "tall",
          "label": "Tall"
        }
      ],
      "default": "default"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Full text story"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Display a full width feature that can contain a large image, or video, and an optional call to action button.</p>"
    },
    {
      "type": "select",
      "id": "media_layout",
      "label": "Media type",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "image-highlight",
          "label": "Image"
        }
      ],
      "default": "none"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text",
      "info": "This button is only visible when 'Media type' is set to Image"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Link"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "Button Style",
      "options": [
        {
          "value": "light",
          "label": "Light"
        },
        {
          "value": "primary",
          "label": "Primary"
        },
        {
          "value": "secondary",
          "label": "Secondary"
        },
        {
          "value": "third",
          "label": "Third Color"
        },
        {
          "value": "fourth",
          "label": "Fourth Color"
        },
        {
          "value": "fifth",
          "label": "Fifth Color"
        },
        {
          "value": "clear-dark",
          "label": "Clear Dark"
        },
        {
          "value": "clear-light",
          "label": "Clear Light"
        }
      ],
      "default": "light"
    }
  ],
  "presets": [
    {
      "category": "Advanced content",
      "name": "Full text story",
      "settings": {
        "title": "Full text story",
        "text": "<p>Display a full width feature that can contain a large image, or video, and an optional call to action button.</p>",
        "button_text": "Button text",
        "button_link": "shopify:\/\/collections"
      }
    }
  ]
}
{% endschema %}
